<% provide(:title, 'Home') %>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="../../dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Custom styles for this template -->
<link href="jumbotron.css" rel="stylesheet" type="text/css"><!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<script src="../../assets/js/ie-emulation-modes-warning.js" type="text/javascript">
</script><!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span></button>
			<div class="logo">
				<%= link_to image_tag("logo.png", :width => 52.5, :height => 52.5), id: "logo", style: "z-index:-100;" %>
			</div><a class="navbar-brand" href="#">The Marketing Calendar</a>
		</div>
		<div class="navbar-collapse collapse">
			<%= form_for(resource,  :as => resource_name, 
									:url => session_path(resource_name), 
									html: { :role => "form", :class => "navbar-form navbar-right" }) do |f| %>
			<div class="form-group">
				<%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
			</div>
			<div class="form-group">
				<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
			</div><%= f.submit "Sign in", :class => "btn btn-success" %><% end %>
		</div><!--/.navbar-collapse -->
	</div>
</div><!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<div class="block">
			<h2>
				Your marketing team's organizational secret
			</h2>
			<p>
				The Marketing Calendar simplifies your marketing organization. All of your marketing team sees and executes the same plan.
			</p>
			<p>
				<a class="btn btn-primary btn-lg" role="button">Learn more »</a>
			</p>
		</div>
	</div>
</div>
<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>
				Why You Care
			</h2>
			<p>
				Your entire team shares the same marketing plan on the same calendar. Updates to the calendar are automatically shared with your entire team. Everyone comes together. Everyone is working on the same goals.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Dazzle me »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Pricing
			</h2>
			<p>
				When you start using The Marketing Calendar you can invite as many teammates as you like to share your calendar. We strive to simplify your life. Our simple pricing plan is just one outgrowth from our core mission.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Show me the money »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Articles
			</h2>
			<p>
				Some ideas and tactics that you might find helpful in designing your strategy and following through on its execution.
			</p>
			<p>
				<a class="btn btn-default" href="#" role="button">Give me some ideas »</a>
			</p>
		</div>
	</div>
	<hr>
	<!-- <footer>
	<p>&copy; Company 2014</p>
	</footer> -->
</div><!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript">
</script><script src="../../dist/js/bootstrap.min.js" type="text/javascript">
</script><!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="../../assets/js/ie10-viewport-bug-workaround.js" type="text/javascript">
</script>

