<% provide(:title, "What's in it for me?") %>

<div class="marketing-page-container">
	<h1 class="marketing-h1">What's in it for me?</h1>

	<table border="0">
		<tr>
			<td valign="top">
				<ul class="marketing-ul">
					<li>A central location for your marketing tactics so <strong>you and your associates can share your calendar 
						easily eliminating miscommunication</strong></li>
					<li>Daily email reminders <strong>keep you on track so you <i>actually</i> implement your plans and
						don't let anything slip through the cracks</strong>
					</li>
					<li>With <%= link_to "great security", our_technology_path(:anchor => "security") %> comes great 
					 	responsibility.  We routinely test <%= application_name %> features to make sure 
					 	that <strong>you control who accesses your calendar data</strong> </li>
					<li>With a view to whole months at a time, <strong>you <i>see</i> where you have overlapping efforts 
						or gaps in your tactics</strong></li>
					<li>
						<%= link_to "Our seriously reliable backup strategy", our_technology_path(:anchor => "backup") %>
						means that <strong>you have access to your calendar when and where you want it</strong>
					</li>
				</ul>
			</td>
			<td>&nbsp;</td>
			<td style="background-color:#c0c0c0;">&nbsp;</td>
			<td valign="top">
				<ul class="marketing-ul">
					<li>Events on your calendar visually span days, weeks, or months
						<strong>so you can see the duration of events, such as AdWords campaigns </strong>
						</li>
					<li>Organizing your events into separate calendars enables you <strong>to control
						exactly what events show on your calendar at any given time</strong></li>
					<li>Calendar sharing lets you <strong>share your calendar with any number of 
						other users and control what they do on your calendar</strong></li>
					<li>Reduce your team's confusion and communication annoyances</li>
					<li>Your information is <i>your</i> information.  We know that we are merely custodians of your your data so we do not use your data.</li>
			 	</ul>
			</td>
		</tr>
	</table>

<!-- 		<li>
			<hr size="1">
			<hr size="1">
			<hr size="1">
		</li>
		<li>Centralized, shared resource -- no more passing around locked spreadsheets</li>
		<li>Daily email reminders
			<ul>
				<li>All of your upcoming events</li>
				<li>Cause events reminders to be sent to people who are not users of the app</li>
			</ul>
		</li>
		<li>With <%= link_to "great security", our_technology_path(:anchor => "security") %> comes 
			<%= link_to "great responsibility", our_technology_path(:anchor => "backup") %>.  
			<strong>We make sure that you control who can access your data and that  any time</strong>
			</li>
		<li>Show events that extend over multiple days, such as AdWords campaigns</li>
		<li>Each user can have multiple calendars</li>
		<li>Each user can share any given calendar with others</li>
		<li>Show or hide any calendar or category of events within a calendar so you can see the level of info you want</li>
		<li>Cost savings by reducing man hours in sharing calendar data</li>
		<li>Your information is <i>your</i> information.  We know that we are merely custodians of your your data so we do not use your data.</li>
		<li>It's your data and we know you are the only one who decides
		who else sees your data.  We all worry about it.  And since you trust us with your data 
		we feel like we have go above and beyond all expectations to have <%= link_to "great security", our_technology_path(:anchor => "security") %>.  
		 </li>
		 <li>Part of our responsibility in caring for your data is backups.  
		 We have a <%= link_to "seriously reliable backup strategy", our_technology_path(:anchor => "backup") %>.</li>
 -->

	<h1 class="marketing-h1">What'll it do for me?</h1>
	<ul class="marketing-ul">
		<li>Provide visibility of all marketing activities, in a single integrated view</li>
		<li>Automatically be updated through activities entered in the system</li>
		<li>Reduce back-and-forward emails</li>
		<li>Eliminate unnecessary meetings</li>
		<li>Include external agencies in the view</li>
		<li>Help identify potential bottlenecks</li>
		<li>Let any stakeholder (or new team member) see exactly what is going on in marketing</li>
	</ul>

	<h1 class="marketing-h1">But wait!  I can't do this.  Here's why:</h1>

	<ul class="marketing-ul">
		<li>It's too easy.  <strong>We're used to all the confusing hassle of sharing spreadsheets.</strong></li>
		<li>What if I enter in a bunch of stuff and then quit?  <strong>Not a worry, you can download all your data at any time in a spreadsheet.</strong></li>
	</ul>

	<div style="float:right;width:250px; margin-left: auto; margin-right: auto;text-align:right;">
		<%= link_to "Get started fast...", new_user_registration_path, :style => "text-decoration:underline;" %>
	</div>

	<!-- <ul><li>Privacy</li><li>Security</li><li>Backups</li></ul> -->
</div>
