<% provide(:title, "Update Share") %>

<h1><%= @share.category_group.description %></h1>

  <div class="container">
	  <div class="">
		<%= form_for(@share) do |f| %>

			<%= render 'shared/error_messages' %>

			<%= f.label "Owner" %>
			<%= @share.owner.full_name %><br>

			<%= f.label "Partner" %>
			<%= @share.partner.full_name %><br>
			
			<%= f.select(:user_type, User.user_types_array_for_user(current_user)) %>

			<div class="actions">
				<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
				&nbsp; &nbsp; &nbsp; &nbsp; 
				<%= link_to "Delete this share", share_path(@share), method: :delete, data: { confirm: "Are you certain you want to remove #{@share.partner.full_name}'s access to #{@share.category_group.description}?" } %>
				
			</div>
		<% end %>
	  </div>
  </div>

<br/>
<%= @share.inspect %>

