<h1>Sharing Calendars</h1>

<div style="text-align:center;">
	<p>You are about to share <b><%= @category_group_descriptions.to_sentence %></b>
	with</p>
	
	<%= form_tag '/share-calendars', :method => :post do %>
	<%= hidden_field_tag :i, @category_group_ids %>
	<%= text_field_tag :email, "", :placeholder => "Enter emails separated by commas", :style => "width: 300px;" %>
	<br/>
	<%= submit_tag("Share calendars", :class => "btn btn-xs btn-primary") %>
	<% end %>
</div>
