<p>Hello <%= @user.full_name %>,</p>

<p>This is your summary of events coming up in the next <%= pluralize(@look_ahead_days, "day") %> The Marketing Calendar:</p>

<table>
	<tr>
		<th>Calendar</th>
		<th>Starts</th>
		<th>Ends</th>
		<th align="left">Event</th>
	</tr>
<% @events.each do |event| %>
	<tr>
		<td bgcolor="<%= event.category.color_scheme.background %>">&nbsp;</td>
		<td nowrap><%= event.starts_at.strftime("%a, %b %e %Y") %></td>
		<td nowrap><%= event.ends_at.strftime("%a, %b %e %Y") %> </td>
		<td nowrap><%= event.description %></td>
    
	</tr>
<% end %>
</table>


<p>&nbsp;</p>
<p>
Visit 
<a href="<%= root_url %>">your calendar</a>
to make updates.
</p>

<p>Your friends,<br/>
	The Marketing Calendar Guys</p>
