<h1>Listing repeating_events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>All day</th>
      <th>Description</th>
      <th>Repetition type</th>
      <th>Repetition frequency</th>
      <th>On sunday</th>
      <th>On monday</th>
      <th>On tuesday</th>
      <th>On wednesday</th>
      <th>On thursday</th>
      <th>On friday</th>
      <th>On saturday</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repeating_events.each do |repeating_event| %>
      <tr>
        <td><%= repeating_event.title %></td>
        <td><%= repeating_event.starts_at %></td>
        <td><%= repeating_event.ends_at %></td>
        <td><%= repeating_event.all_day %></td>
        <td><%= repeating_event.description %></td>
        <td><%= repeating_event.repetition_type %></td>
        <td><%= repeating_event.repetition_frequency %></td>
        <td><%= repeating_event.on_sunday %></td>
        <td><%= repeating_event.on_monday %></td>
        <td><%= repeating_event.on_tuesday %></td>
        <td><%= repeating_event.on_wednesday %></td>
        <td><%= repeating_event.on_thursday %></td>
        <td><%= repeating_event.on_friday %></td>
        <td><%= repeating_event.on_saturday %></td>
        <td><%= link_to 'Show', repeating_event %></td>
        <td><%= link_to 'Edit', edit_repeating_event_path(repeating_event) %></td>
        <td><%= link_to 'Destroy', repeating_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repeating event', new_repeating_event_path %>
