<% provide(:title, "Calendar") %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
<%= javascript_include_tag "jquery.qtip-1.0.0-rc3.min.js" %>

<script type="text/javascript">
// alert ("snapping");
    var snapper = new Snap({
		element: document.getElementById('content'),
		dragger: null,
		disable: 'none',
		addBodyClasses: true,
		hyperextensible: false,
		resistance: 0.5,
		flickThreshold: 50,
		transitionSpeed: 0.3,
		easing: 'ease',
		maxPosition: 266,
		minPosition: -266,
		tapToClose: true,
		touchToDrag: false,
		slideIntent: 40,
		minDragDistance: 5
	});
	// toggleSnap();

	<% current_user.hidden_category_group_flags.each do |hcf| %>
		toggleCalendarFilterCategoryGroup(<%= hcf.category_group_id %>, false);
	<% end %>
	 
	$(function () {
	    var contextMenu = $("#contextMenu");
	    var eventIdThatWasClicked;
	
	    $("body").on("contextmenu", ".fc-event-inner", function (e) {
			eventIdThatWasClicked = $(this).parent().attr("id");
	        // divClicked = this.innerHTML;//$(this).find('.fc-event-inner').find('.fc-event-title');
			
			var position = $(this).parent().position();
			var offset =  $(this).parent().offset();
			
			// console.log("position left=" + position.left + ", top=" + position.top);
			// console.log("this.height:" + contextMenu.height());
			
	        contextMenu.css({
	            display: "block",
	            left: e.pageX,
	            top: position.top //+ contextMenu.height()
	        });
			// console.log("put menu at (" + e.pageX + ", " + e.pageY + "), (" + $(this).parent().offset().left + ", " + $(this).parent().offset().top + ")")
	        return false;
	    });
	
	    contextMenu.on("click", "a", function () {
	        // var message = "You clicked on '"  + eventIdThatWasClicked + "'\n";
	        // message += "And selected the menu item '" + $(this).text() + "'";
	        // alert(message);
		    var valuesToSubmit = { 
				id: eventIdThatWasClicked.substr(9),
				days: $(this).text().substr(0, 1)
			};
			
		    $.ajax({
		        url: '/calendar-reminder', //sumbits it to the given url of the form
		        data: valuesToSubmit,
				type: "POST",
		        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
		    }).success(function(json){
				console.log("finished adding stakeholder interest");
		    });
			
	        contextMenu.hide();
			return false;
	    });
	
	    $(document).click(function () {
	        contextMenu.hide();
	    });
	
	    contextMenu.on("submit", "form", function () {
			var event_id = eventIdThatWasClicked.substr(9);
			$("#notification_form_event_id").val(event_id);
			
		});
	});
</script>

<style type="text/css" media="screen">
#contextMenu {
    position: absolute;
    display:none;
	z-index:99999;
}
</style>

<% if @number_of_events_for_user == 0 %>
	<div class="no-calendar-items-warning">
		You don't yet have any events on your calendar.
		Here's how to <%= link_to "Get Going Easily", get_going_easily_path %>.
	</div>
<% end %>
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
		<li role="presentation" class="dropdown-header">Email me an event alert</li>
        <li><a tabindex="-1" href="#">1 day before </a></li>
        <li><a tabindex="-1" href="#">2 days before</a></li>
        <li><a tabindex="-1" href="#">5 days before</a></li>
        <li><a tabindex="-1" href="#">7 days before</a></li>
        <li class="divider"></li>
		<li role="presentation" class="dropdown-header">Email an event alert to</li>
        <li>
			<%= form_tag(notification_recipient_path, remote: true, id: :notification_form) do %>
				<%= hidden_field_tag :event_id, "0", :id => :notification_form_event_id %>
				<%= text_field_tag 'email', "", :size => 15, :class => "", :placeholder => "Enter an email address" %>
				<%= submit_tag('Go', :class => "btn btn-xs btn-primary") %>
			<% end %>
		</li>


    </ul>
</div>

<table border="0" width="100%" bgcolor="#00FF00" style="margin-top:20px;">
	<tr>
		<td width="5%" valign="top" align="left">
			<div id="reveal-snap-toggle" class="reveal-snap-toggle pull-left margin-left:0; float:left; display:inline-block;">
				<%= button_to_function "&#8596;".html_safe, "return toggleSnap();", class: "fc-button fc-state-default fc-corner-left fc-corner-right no-underline-on-hover", id: "reveal-snap-toggle-button" %>
			</div>
		</td>
		<td>
			<div id='loading' class="loading">Loading calendar...</div>
			<div id='calendar' class="calendar"></div>
		</td>
	</tr>
</table>


<hr />

<style type="text/css">
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.no-underline-on-hover a:hover {
	text-decoration: none;
}

.fc-corner-left {
	margin-left:25px;
}
</style>


<!-- <div id="contextMenu" class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div> -->


<% content_for :snap_menu do %>

<%= form_tag '#', class: "form-horizontal" do %>
	<div class="panel-group" id="accordion">
	  <div xclass="panel panel-default">
	    <div id="collapseOne" xclass="panel-collapse">
			<div xclass="panel-heading">
				<div class="panel-body">
					<h4 class="panel-title">Checked Calendars Are Visible</h4>
					<div class="panel-body">
						
					<% @calendars.each do |calendar| %>
						<div class="control-group form-group" style="margin:0; margin-left:-15px;">
							<%= check_box_tag "calendar-#{calendar.id}", calendar.id, current_user.wants_to_see_category_group(calendar), :onclick => "toggleCalendar_#{calendar.id}();", :style => "width:13px" %>
							<%= calendar.description %>
							<script type="text/javascript" charset="utf-8">
							function toggleCalendar_<%= calendar.id %>() {
								var on_or_off = $("#calendar-<%= calendar.id %>").is(":checked");
								toggleCalendarFilterCategoryGroup(<%= calendar.id %>, true);
							}
							</script>
						</div>
					<% end %>
					</div>
				</div>
		    </div>
	    </div>
	  </div>
	</div>
<% end %>
<% end %>

<% if Rails.env.development? %>
   <ul>
      <li> <%= link_to "QTIP", "http://craigsworks.com/projects/qtip/" %> 
      <li>Nice example of tool tip on calendar: <%= link_to "http://obpk.com/fc/ex/fc.html", "http://obpk.com/fc/ex/fc.html" %></li>
   </ul>
<% end %>

<% if 1 == 0 %>


   <%= calendar_for(@styles) do |t| %>
     <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
     <% t.day(:day_method => :created_at) do |day, styles| %>
       <%= day.day %><br/>
       <% styles.each do |style| %>
         <%= style.name %>
         <small><%= style.created_at %></small>
         <br/>
       <% end %>
     <% end %>
  <% end %>
<% end %>

