<% provide(:title, "Calendar") %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
<%= javascript_include_tag "jquery.qtip-1.0.0-rc3.min.js" %>
		 
<div id='loading' class="loading">Loading calendar...</div>
<div id='calendar' class="calendar"></div>

<hr />

<% if Rails.env.development? %>
   <ul>
      <li> <%= link_to "QTIP", "http://craigsworks.com/projects/qtip/" %> 
      <li>Nice example of tool tip on calendar: <%= link_to "http://obpk.com/fc/ex/fc.html", "http://obpk.com/fc/ex/fc.html" %></li>
   </ul>
<% end %>

<% if 1 == 0 %>


   <%= calendar_for(@styles) do |t| %>
     <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
     <% t.day(:day_method => :created_at) do |day, styles| %>
       <%= day.day %><br/>
       <% styles.each do |style| %>
         <%= style.name %>
         <small><%= style.created_at %></small>
         <br/>
       <% end %>
     <% end %>
  <% end %>
<% end %>
   
<a id="manualinputlabel" href="#" onclick="return false;" data-toggle="popover" title="weclome to use the sql quer" data-html=true  data-original-title="weclome to use the sql query" data-content="content">example</a>

<script type="text/javascript" charset="utf-8">
	
$('#manualinputlabel').click(function(e) {
              $('.popover-title').append('<button id="popovercloseid" type="button" class="close">&times;</button>');
              $(this).popover();

          });

      $(document).click(function(e) {
         if(e.target.id=="popovercloseid" )
         {
              $('#manualinputlabel').popover('hide');                
         }

      });
	  </script>
