<% provide(:title, "Calendar") %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js' %>
<%= javascript_include_tag "jquery.qtip-1.0.0-rc3.min.js" %>

<script type="text/javascript">
// alert ("snapping");
    var snapper = new Snap({
		element: document.getElementById('content'),
		dragger: null,
		disable: 'none',
		addBodyClasses: true,
		hyperextensible: false,
		resistance: 0.5,
		flickThreshold: 50,
		transitionSpeed: 0.3,
		easing: 'ease',
		maxPosition: 266,
		minPosition: -266,
		tapToClose: true,
		touchToDrag: true,
		slideIntent: 40,
		minDragDistance: 5
	});
	
</script>

<div id='loading' class="loading">Loading calendar...</div>
<div id='calendar' class="calendar"></div>

<hr />

<% content_for :snap_menu do %>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div id="collapseOne" class="panel-collapse  ">
			<div class="panel-heading">
				<div class="panel-body">
					<h4 class="panel-title">Show Checked Categories</h4>
					  <% @categories.each do |category| %>
						<%= check_box_tag "category-#{category.id}", category.id, true, :onclick=>"toggleCalendarFilterCategory(#{category.id});" %>
						<span style="background-color:<%= category.color_scheme.background %>">
							&ordm;
						</span>
						<label for="<%= "category-#{category.id}" %>" style="display:inline;">
							<%= category.description %>
						</label>
					  	<br/>
					  <% end %>
				</div>
		    </div>
	    </div>
	  </div>
	</div>
<% end %>
<% if Rails.env.development? %>
   <ul>
      <li> <%= link_to "QTIP", "http://craigsworks.com/projects/qtip/" %> 
      <li>Nice example of tool tip on calendar: <%= link_to "http://obpk.com/fc/ex/fc.html", "http://obpk.com/fc/ex/fc.html" %></li>
   </ul>
<% end %>

<% if 1 == 0 %>


   <%= calendar_for(@styles) do |t| %>
     <%= t.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %>
     <% t.day(:day_method => :created_at) do |day, styles| %>
       <%= day.day %><br/>
       <% styles.each do |style| %>
         <%= style.name %>
         <small><%= style.created_at %></small>
         <br/>
       <% end %>
     <% end %>
  <% end %>
<% end %>

