
  <div class="row">
	  <div class="span6 offset3">
		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages' %>

			<%= f.label :first_name %>
			<%= f.text_field :first_name %><br>

			<%= f.label :last_name %>
			<%= f.text_field :last_name %><br>

			<%= f.label :email %>
			<%= f.text_field :email %><br>

			<%= f.label :password %>
			<%= f.password_field :password %><br>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %><br>

			<div class="actions">
				<% if @user.new_record? %>
					<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
				<% else %>
					<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
				<% end %>
			</div>
		<% end %>
	  </div>
  </div>
