<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>

<style type="text/css" media="screen">
	#flash { 
		display:none; 
		color:#0000;
		background-color:yellow;
	}
	#spinner { 
		display:none; 
	}
	
	form .form-group {
		margin-bottom: 1px;
	}
	.tcm-form-control {
		width: 60%;
		padding-left: 4px;
	}
	.event-repetition {
		background-color:#f6f6f6;
	}
	.form-horizontal .control-group {
	    margin-bottom: 2px;
	}
	.actions {
		margin-top: 6px;
		width:160px;
	}
	
	.form-horizontal .control-label {
		display:inline;
	}

	.form-horizontal .control-container {
		display:inline;
		clear:both;
	}
	.col-sm-10 {
		display:inline;
		float:none;
	}
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#event_starts_at").datepicker({ dateFormat: "yy-mm-dd" });
		$("#event_ends_at").datepicker({ dateFormat: "yy-mm-dd" });
		
		$('.delete-event-button-actual').submit( function() {
			console.log('delete form');
		    var valuesToSubmit = $(this).serialize();
		
			$("#submit-button").hide();
			$("#delete-event-button-proxy").hide();
			$("#spinner").show();
		    $.ajax({
		        url: $(this).attr('action'), //sumbits it to the given url of the form
		        data: valuesToSubmit,
				type: "POST",
		        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
		    }).success(function(json){
				$("#spinner").hide();
				
				$("#flash").text("This event has been deleted.");
				$("#flash").show();
				$("#flash").effect("fade", {}, 3500);
				$('#event_was_deleted').val(true);
				setTimeout(function() { hideThePopoverThatContainsMe(); }, 2000 );
		    });
			return false;
		});

		$('.edit-event-popover-form').submit(function() {  
			var val = $("input[type=submit][clicked=true]");
			console.log('edit form');
			// 		
			// alert(val);
		    // alert('handle: ' + myHandleToMainWindow);
			var isOkayToSave = true;
			
			if ($("#event_description").val().length == 0) {
				$("#event_description_group").addClass("event_edit_field_with_errors");
				isOkayToSave = false;
			} else {
				$("#event_description_group").removeClass("event_edit_field_with_errors");
			}
			
			if ($("#event_starts_at").val().length == 0) {
				$("#event_starts_at_group").addClass("event_edit_field_with_errors");
				isOkayToSave = false;
			} else {
				$("#event_starts_at_group").removeClass("event_edit_field_with_errors");
			}
			
			if ($("#event_ends_at").val().length == 0) {
				$("#event_ends_at_group").addClass("event_edit_field_with_errors");
				isOkayToSave = false;
			} else {
				$("#event_ends_at_group").removeClass("event_edit_field_with_errors");
			}
			
			if ($("#event_campaign_id").val() == 0) {
				$("#event_campaign_group").addClass("event_edit_field_with_errors");
				isOkayToSave = false;
			} else {
				$("#event_campaign_group").removeClass("event_edit_field_with_errors");
			}
			
			if ($("#event_category_id").val() == 0) {
				$("#event_category_group").addClass("event_edit_field_with_errors");
				isOkayToSave = false;
			} else {
				$("#event_category_group").removeClass("event_edit_field_with_errors");
			}
			
			if (isOkayToSave) {
			    var valuesToSubmit = $(this).serialize();
			
				$("#submit-button").hide();
				$("#delete-event-button-proxy").hide();
				$("#spinner").show();
			    $.ajax({
			        url: $(this).attr('action'), //sumbits it to the given url of the form
			        data: valuesToSubmit,
					type: "POST",
			        dataType: "JSON" // you want a difference between normal and ajax-calls, and json is standard
			    }).success(function(json){
					$("#spinner").hide();
					$("#flash").show();
					$("#flash").effect("fade", {}, 3500);
					$('#saved_event_result_as_json').val(JSON.stringify(json));
					console.log("finished with result");
					setTimeout(function() { hideThePopoverThatContainsMe(); }, 2000 );
			    });
			// } else {
			// 	alert("Need to fix things");
			}
		
		    return false; // prevents normal behaviour
		});
		
		$(document).click(function(e) {
			if(e.target.id=="popovercloseid" ) {
				hideThePopoverThatContainsMe()
			}
		});
		
		function hideThePopoverThatContainsMe() {
			console.log("attempting to hide popover");
			var id = "#" + $('#name_of_popover_that_contains_me').val();
			var x = $(id);
			console.log('mmm bueno (' + id + ') ' + x);
			x.popover('hide');                
		}
		
		$('#event_repetition_type').change(function() {
			updateDailyCheckboxes();
		});
		
		function updateDailyCheckboxes() {
			var repetitionTypeDropDown = $('#event_repetition_type');
			
			if (repetitionTypeDropDown.attr('value') == "weekly" || repetitionTypeDropDown.attr('value') == "biweekly") {
				$("input.daily_checkbox").attr("disabled", false);
				$("input.daily_checkbox").removeAttr("disabled");
			} else {
				$("input.daily_checkbox").attr("disabled", true);
			}			
		}
		updateDailyCheckboxes();
	});
</script>

<%= form_for @event, :html => { :class => 'form-horizontal edit-event-popover-form', :role => "form" } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <%= hidden_field_tag :saved_event_result_as_json %>
  <%= hidden_field_tag :saved_event_is_new_event, @event.new_record? %>
  <%= hidden_field_tag :original_repetition_type, @event.repetition_type %>
  <%= hidden_field_tag :event_was_deleted, false %>
  <%= hidden_field_tag :name_of_popover_that_contains_me %>

  <div class="control-group form-group" id="event_description_group">
	<%= f.label :description, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10 control-container">
		<%= f.text_field :description, :placeholder => "New description of activity", :class => "tcm-form-control" %>
	</div>
  </div>
  <div class="control-group form-group" id="event_starts_at_group">
    <%= f.label :starts_at, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :starts_at, :placeholder => "Date activity starts", :class => "datepickerField tcm-form-control" %>
	</div>
  </div>
  <div class="control-group form-group" id="event_ends_at_group">
    <%= f.label :ends_at, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :ends_at, :placeholder => "Date activity ends", :class => "datepickerField tcm-form-control" %>
	</div>
  </div>
  <div class="control-group form-group" id="event_category_group">
    <%= f.label :category_id, :class => "col-sm-2 control-label"  %>
	<div class="col-sm-10">
		<%= f.collection_select :category_id, current_user.all_categories, :id, :description, {:prompt => "--  Select Category --"}, {:class => "tcm-form-control"} %>	
	</div>
  </div>
  <div class="control-group form-group" id="event_ends_at_group">
    <%= f.label :notes, :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_area :notes, :placeholder => "Any additional thoughts or notes", :class => "tcm-form-control" %>
	</div>
  </div>
  
  <style type="text/css" media="screen">
  .checkbox {
	  float:left;
	  text-align:right;
	  margin-right:10px;
	  margin-left:10px;
  }
  </style>
  
  <div class="event-repetition">
	  <div class="control-group form-group">
	    <%= f.label "Repeats", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<!-- <%= f.text_field :repetition_type, :placeholder => "Repetition Info", :class => "tcm-form-control" %> -->
			
			<%= f.select :repetition_type, @repetition_types.map { |v| [v.capitalize, v] } %>
		</div>
	  </div>

	  <div class="control-group form-group">
		<%= f.label "Occurs", :class => "col-sm-2 control-label" %>
		<div class="col-sm-10">
				<label class="checkbox inline">
					<%= f.check_box :on_sunday, :class => "daily_checkbox" %> Sun
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_monday, :class => "daily_checkbox" %> Mon
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_tuesday, :class => "daily_checkbox" %> Tue
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_wednesday, :class => "daily_checkbox" %> Wed
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_thursday, :class => "daily_checkbox" %> Thu
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_friday, :class => "daily_checkbox" %> Fri
				</label>

				<label class="checkbox inline">
					<%= f.check_box :on_saturday, :class => "daily_checkbox" %> Sat
				</label>
		</div>
	  </div>

  </div>


  <div class="actions pull-right inline" style="width:230px;">
    <%= f.submit :id => "submit-button", :style => "float:left;", :class => "btn btn-xs btn-primary" %>
	<% unless @event.new_record? %>
		<label for="delete-button" class="delete-event-button-proxy" id="delete-event-button-proxy" style="float:right;">Delete this event</label>	
	<% end %>
    <i class="fa fa-spinner fa-spin spinner" id="spinner"></i>
	<span id="flash">Your changes have been saved!</span>
  </div>
  
<% end %>

<% unless @event.new_record? %>
	<%= form_for @event, :html => { :id => "delete-event-form", :class => 'delete-event-button-actual', :role => "form" } do |f| %>
		<%= button_to 'Delete Event', @event, :id => "delete-button", :method => :delete, :class => :destroy, data: { :confirm => "This will completely remove '#{@event.description}' from your calendar.  Are you sure?" } %>
	<% end %>
<% end %>

