<% provide :title, "Create Calendar" %>
<%= form_for(@category_group) do |f| %>
  <% if @category_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_group.errors.count, "error") %> prohibited this category_group from being saved:</h2>

      <ul>
      <% @category_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
		<%= f.label :color %><br>
		<%= collection_select(:category_group, :color_scheme_id, ColorScheme.all, :id, :name, 
			{prompt: false},
			{:onChange => "editCategoryColorSchemeChange(this);"}) 
		%>

		<span id="editCategoryColorSchemeExample">
			<%= color_scheme_as_html_snippet_to_display(@color_scheme) %>
		</span>
		<span id="editCategoryColorSchemeName">
			<%= @color_scheme.name %>
		</span>
  </div>

  <div class="actions">
    <%= f.submit :value => (@category_group.new_record? ? "Create Calendar" : "Update Calendar") %>
  </div>
<% end %>

