<% provide(:title, "Calendars") %>
<h1>All Calendars</h1>

<script type="text/javascript" charset="utf-8">
	$('#calendar-shares').tooltip()
</script>
<style type="text/css" media="screen">
a:hover {
	text-decoration:none;
}
</style>

<table>
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Colors</th>
      <th>Actions</th>
      <th>Shared Partners</th>
    </tr>
  </thead>

  <tbody>
    <% @category_groups.each do |category_group| %>
      <tr>
        <td><%= link_to category_group.description, edit_category_group_path(category_group) %></td>
        <td><%= color_scheme_as_html_snippet_to_display(category_group.color_scheme) %></td>
        <!-- <td><%= link_to 'Edit', edit_category_group_path(category_group), :class => "btn btn-xs btn-primary" %></td> -->
        <td><%= link_to 'Destroy', category_group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
		<td>
			<% category_group.shares[0..0].each do |share| %>
				<%= link_to share.partner.full_name, edit_share_path(share) %> &nbsp;
			<% end %>
			<% if category_group.list_of_invited_partner_names.uniq.count > 1 %>
				<a href="#" class="calendar-shares" data-toggle="tooltip" title="<%= category_group.list_of_invited_partner_names.uniq.to_sentence %>">and others</a>
			<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar', new_category_group_path, :class => "btn btn-xs btn-primary" %>
