<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.starts_at %>
</p>

<p>
  <strong>End date:</strong>
  <%= @campaign.ends_at %>
</p>

<p>
  <strong>Company:</strong>
  <%= @campaign.company_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @campaign.color %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
