<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_group %><br>
	<%= collection_select(:category, :category_group_id, CategoryGroup.all, :id, :description, 
		{prompt: false}) 
	%>
	
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
	<%= collection_select(:category, :color_scheme_id, ColorScheme.all, :id, :name, 
		{prompt: false},
		{:onChange => "editCategoryColorSchemeChange(this);"}) 
	%>
	<%= color_scheme_as_html_snippet_to_display(@category.color_scheme) %>
	<span id="editCategoryColorSchemeExample"><%= @category.color_scheme.name %></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
