<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar %><br>
	<%= collection_select(:category, :category_group_id, current_user.all_category_groups, :id, :description, 
		{prompt: false}) 
	%>
	
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
		<%= f.label :color %><br>
		<%= collection_select(:category, :color_scheme_id, ColorScheme.all, :id, :name, 
			{prompt: false},
			{:onChange => "editCategoryColorSchemeChange(this);"}) 
		%>
	
		<span id="editCategoryColorSchemeExample">
			<%= color_scheme_as_html_snippet_to_display(@color_scheme) %>
		</span>
		<span id="editCategoryColorSchemeName">
			<%= @color_scheme.name %>
		</span>
  </div>
  <div class="actions">
    <%= f.submit "Update Category", :class => "btn btn-xs btn-primary" %>
  </div>
<% end %>
