<% provide(:title, 'Categories') %>

<h1>Listing categories</h1>

<table>
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Category</th>
      <th>Color</th>
      <th>&nbsp;</th>
      <th>Delete?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.category_group.description, edit_category_group_path(category.category_group) %></td>
        <td><%= link_to category.description, edit_category_path(category) %></td>
        <td><%= color_scheme_as_html_snippet_to_display(category.color_scheme) %></td>
        <td>&nbsp;</td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, :class => "btn btn-xs btn-primary" %>
