<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Category group:</strong>
  <%= @category.category_group.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Color:</strong>
  <%= color_scheme_as_html_snippet_to_display(@category.color_scheme) %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
