<div>
	<p>You know that social media is important.  Let's take a minute to make some plans to keep your customers up to date.</p>
	<p><%= image_tag "twitter_icon.jpg", :height => 30, :width => 30 %>
		<b><%= link_to "Twitter", 'add_twitter_stuff' %>:</b> Expect to broadcast text-based messages to your diverse audience. 
		Not everyone tweets, but it is a good way to keep your own brand in front of your customers.  
	</p>
	<p>
		<%= image_tag "facebook_icon.png", :height => 30, :width => 30 %>
		<b><%= link_to "Facebook", 'add_twitter_stuff' %>:</b> Facebook's content-friendly format is terrific to post regular updates.
	</p>
	
	<p>&nbsp;</p>
		
	<p>Will you be posting to Facebook or maintaining a page?</p>
	<div style="width:200px;">
		<p>
		<%= button_to 'Yes!', { action: :facebook_add, data: :small }, :class => "getGoingYesButton" %>
		<%= button_to 'Maybe later', { action: :facebook_add, data: :small }, :class => "getGoingNoButton" %>
		</p>
	</div>

</div>
