<% provide :title, "Home Business" %>
<h1><%= image_tag("home_business.jpg", :height => 120, :width => 120) %></h1>

<dl>
	<dt>Social Media...everyone's talking about it!</dt>
	<dd>
		<ul>
			<li style="list-style:none;"><%= image_tag "twitter_icon.jpg", :height => 16, :width => 16 %><b><%= link_to "Twitter", 'add_twitter_stuff' %>:</b> Not everyone tweets, but it is a good way to keep your own brand in front of your customers.  Use primarily text to reach a diverse audience. </li>
			<li style="list-style:none;"><%= image_tag "facebook_icon.png", :height => 16, :width => 16 %><b><%= link_to "Facebook", 'add_twitter_stuff' %>:</b> Facebook's content-friendly format is terrific to post regular updates.</li>
			<li style="list-style:none;"><%= image_tag "google_plus_icon.jpg", :height => 16, :width => 16 %><b><%= link_to "Google+", 'add_twitter_stuff' %>:</b>  Google+ has more of a tech orientation but you can build authority and get your picture on Google search results.</li>
			<li style="list-style:none;"><%= image_tag "instagram_icon.jpg", :height => 16, :width => 16 %><b><%= link_to "Instagram", 'add_twitter_stuff' %>:</b> Now with tight Facebook integration and videos, Instagram is a good complement to Facebook.</li>
			<li style="list-style:none;"><%= image_tag "pinterest_icon.jpg", :height => 16, :width => 16 %><b><%= link_to "Pinterest", 'add_twitter_stuff' %>:</b> Use your visual appeal to reach a predominantly female audience.  Outstanding for traffic generation, especially for retail.</li>
		</ul>
	</dd>

	<dt>Advertising...pay for what you get</dt>
	<dd>
		<ul>
			<li style="list-style:none;"><b><%= link_to "Search Engine", 'add_twitter_stuff' %>:</b> Google is the big dog of search engine advertising, but Bing and Yahoo! offer similar services. </li>
			<li style="list-style:none;"><%= image_tag "facebook_icon.png", :height => 16, :width => 16 %><b><%= link_to "Facebook", 'add_twitter_stuff' %>:</b> Facebook does more than just provide space to share...you can also run demographically specific advertising.</li>
		</ul>
	</dd>

	<dt>Search Engine Optimization...earn their attention</dt>
	<dd>
		<ul>
			<li style="list-style:none;"><b><%= link_to "Blogging", 'add_twitter_stuff' %>:</b> Creating new, interesting, and useful content helps improve your ranking in search engines. </li>
			<li style="list-style:none;"><b><%= link_to "Podcasting", 'add_twitter_stuff' %>:</b> Podcasting enables you to engage with your customers. </li>
			<li style="list-style:none;"><b><%= link_to "Webinars", 'add_twitter_stuff' %>:</b> Webinars help you to position yourself as an expert in your domain. </li>
		</ul>
	</dd>

	<dt>Direct Marketing...reach out directly</dt>
	<dd>
		<ul>
			<li style="list-style:none;"><b><%= link_to "Email", 'add_twitter_stuff' %>:</b> Regular email campaigns help you develop an in-depth relationship with your customers. </li>
			<li style="list-style:none;"><b><%= link_to "Direct Mail", 'add_twitter_stuff' %>:</b> A resource-intensive channel that generally yields some successes. </li>
			<li style="list-style:none;"><b><%= link_to "Trade Show Events", 'add_twitter_stuff' %>:</b> Attending trade show events gives you face-to-face contact with your customers and/or distributors. </li>
		</ul>
	</dd>
</dl>

