<ul class="nav navbar-nav pull-right">
	<li class="">
		<%= link_to root_path, class: "btn" do %>
		  <span class="glyphicon glyphicon-home"><font class="nav-font">Home</font> </span>
		<% end %>
	</li>

	<% if show_marketing_messages? %>
		<li> 
			<%= link_to whats_in_it_for_me_path do %>
			<font class="nav-font">What's in it for me? </font>
		    <% end %>
		 </li>
	<% end %>

	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-list-alt"><font class="nav-font">Articles</font></span> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "Implementation of a Marketing Plan", articles_implementation_of_a_marketing_plan_path %></li>
			<li><%= link_to "Example marketing strategy", articles_example_marketing_strategy_path %></li>
			<li><%= link_to "Best marketing strategy", articles_best_marketing_strategy_path %></li>
		</ul>
	</li>

	<% if user_signed_in? %>
		<li>
			<%= link_to calendar_index_path  do%>
			 <span class="glyphicon glyphicon-calendar"></span><font class="nav-font">Calendar</font></span>
			<% end %>
		</li>
		<!-- <li><%= link_to "Users", '#' %></li> -->
		<li id="fat-menu" class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<font class="nav-font">Account</font> <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><%= link_to "Share Calendar", '/choose-calendar-to-share' %></li>
				<li class="divider"></li>
				<li><%= link_to "Get Going Easily", get_going_easily_path %></li>
				<li class="divider"></li>
				<li><%= link_to "Categories", categories_path %></li>
				<li><%= link_to "Calendars", category_groups_path %></li>
				<li class="divider"></li>
				<li><%= link_to "Download My Data", download_data_path %></li>
				<li class="divider"></li>
				<li>
					<%= link_to edit_user_registration_path do %>
					<span class="glyphicon glyphicon-user">Profile</span>
					<% end %>
				</li>
				<li class="divider"></li>
				<li>
					<%= link_to destroy_user_session_path, method: "delete" do %>
					<span class="glyphicon glyphicon-off">Logout <%=current_user.email%></span>
					<% end %>
				</li>
			</ul>
		</li>
	<% else %>
	
	 <li>
		
		 <%= link_to '/users/sign_in' do %>
		 <font class="nav-font hidden-sm hidden-md hidden-lg">Sign in</font>
		 <% end %>
		 
	 </li>
		
		<li>
			
			<%= link_to new_user_registration_path do %>
			<span class="glyphicon glyphicon-hand-up"></span><font class="nav-font">Sign up</font>
			<% end %>
		</li>
	<% end %>
	<li><%= link_to help_path do%>
		<font class="nav-font">Help</font>
		<% end %>
	</li>
</ul>
