<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= application_name %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
	<!-- <%= javascript_include_tag params[:controller] %> -->
	<%= yield :javascript_includes %>
    <%= csrf_meta_tags %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
	<%= render 'layouts/shim' %>
	<% if not Rails.env.development? %>
		<%= render 'layouts/google_analytics' %>
	<% end %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description=" content="<%= yield(:description) %>">

  </head>
  <body>

		<% if Rails.env.development? %>
			<% if user_signed_in? %>
				devise user signed in
			<% else %>
				devise user NOT signed in
			<% end %>
		<% end %>
	  
      <div class="snap-drawers">
          <div class="snap-drawer snap-drawer-left">
              <div>
				  <%= yield :snap_menu %>
              </div>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
      </div>
      	  
	  
      <div id="content" class="snap-content">
		  	<%= render 'layouts/header' %>

		    <div class="container" style="width:100%;">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %> 
						<a class="alert-<%= key %> alert-dismissal" href="#" onclick="$('.alert-<%= key %>').alert('close');">X</a>
					</div>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
		    </div>
	    </div>
  </body>
</html>