<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= application_name %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
	<!-- <%= javascript_include_tag params[:controller] %> -->
	<%= yield :javascript_includes %>
    <%= csrf_meta_tags %>
	<%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
	<%= render 'layouts/shim' %>
	<% if not Rails.env.development? %>
		<%= render 'layouts/google_analytics' %>
	<% end %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description=" content="<%= yield(:description) %>">
	<link rel="icon" href="<%= image_path("favicon.ico") %>">

  </head>
  <body>

		<% if Rails.env.development? %>
			<% if user_signed_in? %>
				devise user signed in
			<% else %>
				devise user NOT signed in
			<% end %>
		<% end %>
	  
      <div class="snap-drawers">
          <div class="snap-drawer snap-drawer-left">
              <div>
				  <%= yield :snap_menu %>
              </div>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
      </div>
      	  
	  
      <div id="content" class="snap-content">
			<% if user_signed_in? %>
				<%= render 'layouts/header_logged_in' %>
			<% else %>
				<%= render 'layouts/header' %>
			<% end %>

		    <div class="container" style="width:100%;">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %>"><%= value %> 
						<a class="alert-<%= key %> alert-dismissal" href="#" onclick="$('.alert-<%= key %>').alert('close');">X</a>
					</div>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? %>
				<% if Rails.env.development? %>
					<%= form_for(resource,  :as => resource_name, 
											:url => session_path(resource_name), 
											html: { :role => "form" }) do |f| %>
						<div class="form-group">
							<%= f.email_field :email, :class => "form-control", :placeholder => "Email" %>
						</div>
						<div class="form-group">
							<%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
						</div><%= f.submit "Sign in", :class => "btn btn-default" %>
					<% end %>

				<% end %>
		    </div>
	    </div>
  </body>
</html>