<!DOCTYPE html>
<html>
  <head>
    <title><%= application_name %> | <%= yield(:title) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

	  <% if user_signed_in? %>
	  devise user signed in
	  <% else %>
	  devise user NOT signed in
	  <% end %>
	  
      <div class="snap-drawers">
          <div class="snap-drawer snap-drawer-left">
              <div>
				  <%= yield :snap_menu %>
              </div>
          </div>
          <div class="snap-drawer snap-drawer-right"></div>
      </div>
      	  
	  
      <div id="content" class="snap-content">
		  	<%= render 'layouts/header' %>

		    <div class="container">
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %> <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>
				<%= render 'layouts/footer' %>
				<%= debug(params) if Rails.env.development? and 1==0 %>
		    </div>
	    </div>
  </body>
</html>